.project-container{
  width: 866px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 15px;
  .tile{
    height: 214px;
    width: 275px;
    background: red;
    cursor: pointer;
    position: relative;
    .info{
      display: none;
    }
  }
  .tile:hover{
    .info{
      position: absolute;
      bottom: 0;
      height: 55px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: rgba(19, 35, 52, 0.5);
      p{
        margin: 0 0 0 15px;
        color: white;
      }
    }
  }
  .top{
    margin-bottom: 7.5px;
  }
  .down{
    margin-top: 7.5px;
  }
  .middle{
    margin-left: 15px;
    margin-right: 15px;
  }
}