.card-container{
  background: #FFFFFF;
  box-shadow: 30px 30px 70px rgba(143, 165, 185, 0.45), -30px -30px 70px rgba(255, 255, 255, 0.85);
  border-radius: 40px;
  height: 890px;
  width: 1175px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  .row1{
    display: flex;
    justify-content: flex-end;
    width: 866px;
    position: absolute;
    top: 52px;
  }
  .row2{
    display: flex;
    width: 866px;
    justify-content: space-between;
    position: absolute;
    top: 156px;
  }
  .row3{
    position: absolute;
    top: 296px;
  }
}